<div class="card col-12 col-md-6 col-lg-4" id="frmRegister" style="display:none;">
    <div class="card-body">
        <h1 class="text-center mb-4">Register Account</h1>
        <input id="txtFirstName" class="form-control mt-2" type="text" placeholder="First Name" aria-label="first name text box">
        <input id="txtLastName" class="form-control mt-2" type="text" placeholder="Last Name" aria-label="last name text box">
        
        <div class="mt-2">
            <label for="roleSelect">Select Role:</label>
            <select class="form-control" id="roleSelect">
                <option value="" selected disabled>Select Role</option>
                <option value="student">Student</option>
                <option value="instructor">Instructor</option>
            </select>
        </div>

        <input id="txtUsername" class="form-control mt-4" type="email" placeholder="Email" aria-label="email">
        <input id="txtPassword" class="form-control mt-2" type="password" placeholder="Password" aria-label="password">
        
        <div id="studentContact" style="display: none;">
            <!-- Select dropdown for contact type -->
            <select id="contactType" class="form-control mt-2">
                <option value="" selected disabled>Select form of contact information</option>
                <option value="mobile">Mobile</option>
                <option value="discord">Discord</option>
                <option value="teams">Teams</option>
            </select>
            <!-- Input for contact info -->
            <input id="txtContact" class="form-control mt-2" type="text" placeholder="Enter your contact info" aria-label="contact information (either phone number, discord name, or teams name)">
        </div>
        
        <button class="btn btn-primary col-12 mt-3" type="button" id="btnRegister">Register</button>
        <button class="btn btn-link col-12 mt-2" type="button" id="btnSwapLogin">Back to home page</button>
    </div>
</div>