<div class="card col-12 col-md-6 col-lg-4" id="frmLogin" style="display:none;">
    <div class="card-body">
        <h1 id="txtResetPasswordTitle" class="text-center mb-4">Reset Password</h1>

        <label for="txtUsername" class="mt-4">Input Username:</label>
        <input id="txtUsername" class="form-control mt-2" type="email" placeholder="Email" aria-label="email">

        <h3 id="txtResetPasswordInstructions" class="text-center mb-4">Reset instructions will be sent to the email.</h3>

        <!-- <label for="txtPassword" class="mt-4">Input New Password:</label>
        <input id="txtPassword" class="form-control mt-2" type="password" placeholder="Password" aria-label="password"> -->
    
        <button class="btn btn-primary col-12 mt-3" type="button" id="btnLogin">Send Reset Password Instructions</button>
        <button class="btn btn-link col-12 mt-4" type="button" id="btnSwapLogin">Back to home page</button>
    </div>
</div>